.angular
node_modules
public
dist
report-commitlint.txt
report-markdownlint.txt

# Miscellaneous
/.angular/cache
/.sass-cache
.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
.commitlintrc.js
.DS_Store
.editorconfig
.gitattributes
.gitlab-ci.yml
.husky
.markdownlintignore
.markdownlint.yml
.npmrc
.prettierignore
.prettierrc.yml
.vscode
yarn.lock
.scannerwork
