<div class="page-container">

  <!-- HEADER -->
  <div class="header">
    <button mat-icon-button (click)="voltar()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <h2>Cadastro de Veículo</h2>
  </div>

  <!-- CARD -->
  <mat-card class="form-card">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-grid">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Placa</mat-label>
          <input matInput formControlName="placa">
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Modelo</mat-label>
          <input matInput formControlName="modelo">
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Marca</mat-label>
          <input matInput formControlName="marca">
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Chassi</mat-label>
          <input matInput formControlName="chassi">
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Renavam</mat-label>
          <input matInput formControlName="renavam" >
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Ano</mat-label>
          <input matInput type="number" formControlName="ano">
        </mat-form-field>

      </div>

      <!-- ACTIONS -->
      <div class="actions">
        <button mat-stroked-button color="primary" type="button" (click)="voltar()">
          Voltar
        </button>

        <button mat-raised-button color="primary" type="submit">
          Salvar
        </button>
      </div>

    </form>
  </mat-card>
</div>